.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 30px;
  border: 2px solid #ccc;
  background: white;
  gap:20px;
}

.item {
  text-align: center;
  padding: 5px;
  transition: 0.3sec ease;
}

.item-1 {
  background-color: lightblue;
  color: #000;
  align-items: flex-start;
  
}

.item-2 {
  background-color: #f08080;
  align-items: top;
}

.item-3 {
  background-color: purple;
  text-align: bottom;
}

.item-4 {
  background-color: #8b0000;
}

.item-5 {
  background-color: #00cc00;
}
.item-1,.item-3,.item-5{
    align-self: flex-start;

}
.items-2,.items-4{
    align-self: flex-end;
}
.item:hover{
    transform: scale(1.1);
}
img{
    width: 100px;
}